<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />	
<title>Apka Book Store</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- datatable -->
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>



<link rel="icon" th:href="@{/image/apple-touch-icon.png}"></link>
</head>

<body>
	<div th:fragment="navbar">
		<!-- new header css for adminportal -->
		<link th:href="@{/css/admin-portal-style.css}" rel="stylesheet" />
		
		<nav class="navbar navbar-default navbar-expand-lg navbar-static-top">

			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">Admin Portal</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbar"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" >
					<ul class="navbar-nav mr-auto">

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Book</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" th:href="@{/book/add}">Add new Book</a> 
								<a class="dropdown-item" th:href="@{/book/bookList}">View Book list</a>
								 
							</div></li>
					</ul>
					<ul  class="nav navbar-nav navbar-right">
						<li><a th:href="@{/logout}">Sign out</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</div>

	<div th:fragment="body-bottom-script">
		<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		
		<script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/adminScript.js}"></script>
		
		<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
		<script>tinymce.init({ selector:'textarea' });</script>
	</div>

</body>
</html>